* {
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    width: 360px; 
    height: 510px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding: 20px;
    border-radius: 2%;
   border: 2px solid crimson;
   box-shadow: 0 5px 8px crimson;
    
}
.fa-angle-left{
  margin-left: 40%;
  font-size: 30px;
}

.header {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.stats {
  margin-bottom: 20px;
}

.item {
  margin-top: 1%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.items {
  margin-top: 1%;
  font-size: 12px;
  margin-bottom: 25px;
}

.value {
  font-size: 24px;
}

.icon {
  font-size: 24px;
  margin-right: 5px;
}

.achievement-container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: crimson;
  border-bottom-left-radius: 80px;
  height: 430px;
  width: 400px;
}

.image-container {
  flex: 1; 
  margin-right: 20px;
  width: 350px;
}

.image-container img {
  width: 250px; 
  height: 370px;
  border-radius: 50%;
}

.text-container {
  flex: 2; 
  display: flex;
  flex-direction: column;
}


.bottom{
  
    height: 140px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.downbox {
  display: flex;
  background-color: white;
  color: gray;
  border-radius: 10px;
  padding: 5px;
  gap: 20px;
  height: 50px;
  width: 280px;
  /* justify-content: center; */
  margin-left: 12%;
  border: solid 2px gray;
  margin-top: 2%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}


.textdown{
    color: gray;
    font-weight: bolder;
    
}
.textdown1{
    color: gray;

}

.fas.fa-trophy {
  margin-left: 15px;
    color: gray;
    font-size: 30px;
}

.fas.fa-star {
  margin-left: 15px;
    color: gray;
    font-size: 30px;
}


.textpart{
  margin-left: 2%;
}